# Python server variables

API_URL=your_api_url
API_KEY=your_api_key
LLM_MODEL=your_llm_model

# Android app variables

SERVER_IP=your_server_ip
MAC_BRACELET=your_mac_bracelet
MAC_BELT=your_mac_belt
WAKE_WORD=your_wake_word